body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

h1,
h2 {
    margin-bottom: 10px;
}

#container {
    display: flex;
    flex-direction: row;
    /* Ensure the sections are laid out horizontally */
    justify-content: space-between;
}

textarea {
    flex: 1;
    /* Take up available space equally */
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

#html-output {
    flex: 1;
    /* Take up available space equally */
    margin-left: 10px;
    /* Add some space between input and output */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    min-height: 100px;
}

#render-checkbox {
    margin-left: 15px;
    margin-block: 10px;
}

footer {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.saveBtn {
    background-color: #0d6efd;
    color: #fff;
    padding-block: 10px;
    padding-inline: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-inline: 10px;
}

.saveBtn:hover {
    background-color: #0b5ed7;
}

#title-container {
    margin-inline: 30px;
    margin-block: 15px;
}

#html-title-input {
    padding-block: 10px;
    padding-inline: 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: none;
}

#shortcuts-contained {
    margin: 20px;
    width: 50%;
}

#shortcuts-table {
    border-collapse: collapse;
    width: 50%;
    text-align: center;
    border: 1px solid #333;
}

#shortcuts-table tr,
#shortcuts-table th,
#shortcuts-table td {
    border: 1px solid #333;
    padding: 10px;
    font-size: 0.95rem;
}

#shortcuts-table th {
    background-color: #333;
    color: #fff;
}

#shortcuts-table tr {
    background-color: rgb(250, 250, 250);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}


form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea,
form button {
    display: block;
    margin: 5px;
}

form button {
    margin: 10px;
}

form textarea {
    resize:both;
    width: 25%;
}